@import "../../../variables";

:host {

  > div {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;

    .left {
      display: flex;
      flex-direction: column;

      .title {
        font-weight: bold;
        font-size: 16px;
      }

      .artist {
        font-size: 12px;
      }
    }

    .right {
      display: flex;
      align-items: center;
    }
  }

  .in-top-panel {
    color: $colour-accent;

    .duration {
      font-size: 22px;
      margin-left: 28px;
      display: flex;
    }
  }

  @media screen and (min-width: $mobile-width) {
    cursor: pointer;
    :hover {
      color: $colour-hover;
    }
  }
}
