<div (click)="playSong()" [ngClass]="{'in-top-panel' : inTopPanel}">
  <div class="left">
    <div class="title">{{songData.title}}</div>
    <div class="artist">{{songData.artist}}</div>
  </div>
  <div class="right">
    <div *ngIf="!inTopPanel" class="duration">{{songData.duration | songDurationPipe}}</div>
    <div  *ngIf="inTopPanel" class="duration">{{totalSongDuration - songData.duration | songDurationPipe}}</div>
  </div>
</div>

