@import "../../../variables";

:host {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: #636363;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.27), 0 0 0 1px rgba(0, 0, 0, 0.18);
  color: white;

  i {
    position: absolute;
    left: 10px;
    font-size: 29px;
    color: $colour-accent;
  }
}
