:host{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: #636363;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 2px 0px 2px 0 rgba(255, 255, 255, 0.88), 0 0 0 1px rgba(255, 255, 255, 0.5);

  .buttons{
    i{
      cursor: pointer;
      font-size: 30px;
      padding: 0 20px;
    }
  }
}
