<div class="buttons">
  <i class="fas fa-step-backward" (click)="previous()"></i>
  <i class="fas fa-play" (click)="play()" *ngIf="paused === false"></i>
  <i class="fas fa-pause" (click)="pause()" *ngIf="paused === true"></i>
  <i class="fas fa-step-forward" (click)="next()"></i>
</div>
